/***RESET CSS***/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***RESET CSS***/

body {
    background: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}

.notes-list {
    padding-top: 20px;
    .note-wrapper {
        padding: 10px;
    }
}

header {
    min-height: 50px;
}

.note-actions {
    //border-top: 1px dotted silver;
    //margin-top: 10px;
    position: relative;
    visibility: hidden;
    font-size: 20px;
    .note-action {
        padding-top: 10px;
        float: left;
        position: relative;
        line-height: 30px;
        &.pull-right {
            float: right;
        }
    }
}

.add-note, .note {
    background: white;
    //border: 1px solid sienna;
    border-radius: 2px;
    padding: 10px;
    //min-height: 200px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    //-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.30);
    position: relative;
    .note-title {
        //border-bottom: 1px dotted #89609E;
        font-weight: bold;
        &+.note-text {
            padding-top: 10px;
        }
    }
    .note-text {
        padding-top: 5px;
        ul {
            li {
                input, span {
                    margin-top: 0px;
                    vertical-align: middle;
                    font-weight: normal;
                }
                input {
                    margin-right: 5px;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0 2px 15px rgba(0,0,0,0.30);
        .note-actions {
            visibility: visible;
        }
    }
}

.btn-plain {
    background: transparent;
    border: 0px;
    padding: 0px;
    color: #000;
    text-shadow: none;
    box-shadow: none;
    &::-moz-selection,
    &::selection {
        text-shadow: none;
    }
}

.theme-white    {background: rgb(255, 255, 255);}
.theme-red      {background: rgb(255, 138, 128);}
.theme-orange   {background: rgb(255, 209, 128);}
.theme-yellow   {background: rgb(255, 255, 141);}
.theme-grey     {background: rgb(207, 216, 220);}
.theme-blue     {background: rgb(128, 216, 255);}
.theme-teal     {background: rgb(167, 255, 235);}
.theme-green    {background: rgb(204, 255, 144);}

.note-action-theme {
    .note-action-theme-anchor {
        padding: 0px 4px;
    }
    .note-action-theme-overlay {
        display: none;
        position: absolute;
        bottom: 25px;
        padding: 10px;
        background: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        transition: visibility 0s ease .218s,opacity .218s linear;
        width: 160px;
        .set-theme {
            vertical-align: top;
            height: 30px;
            width: 30px;
            line-height: 27px;
            border-radius: 60px;
            border: 2px solid rgb(224,224,224);
            margin: 3px;
            position: relative;
            text-align: center;
            cursor: pointer;
            padding: 0px;
            &:hover {
                border-color: #555555;
            }
        }
    }
    &:hover {
        .note-action-theme-anchor {
            background: white;
            box-shadow: 0 1px 4px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .note-action-theme-overlay {
            display: block;
        }
    }
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    color: #000;
    &:focus {
        box-shadow: none;
    }
}

#formControlsTitle {
    font-weight: bold;
}

.btn-plain.btn-save {
    padding: 3px 10px;
    color: black;
}